<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/clock/7/plot" value="false" />
    <add key="/intelcpu/0/clock/8/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="1248" />
    <add key="mainForm.Location.Y" value="260" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEALtUui0ta8ddD8fvvY42VvIeDEBQA2QDADuc+qcYAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEACXTfyzUcRgHcMnCmH9EP1BtrDK2WLX+KIv3aqiV2uqGFBnS4RxNZvnDbfRDY6F2xXX3+X4OdzIdo06TUnK7tdT4w/ohNRulNhM11FS35/n+9dp3z76f9+d5nm+uKjta3fsxYfymwA/reXc31+P+VOD+/lNkv+cCyVX8vq9DYHSggDzWJZAXf478oV1gS1QJOc0kcDBdRV6xCaQ6S8mjLs/pM8mH7QKaglSy6BcItNWSNX0mhP8qJGd0m/DiwVlylN2EDv98claAQOciZ4ioEMjPSyL31Ak8CdKTVRYB75gT5Ll6gZrrnD/nlsCVah3Zq0FA28D5i101g/EL5Mx5gVlHHvnynMB8dxdZ8VJg06WRg+IUtBl3kZcjFFyI5sz3PBX01Fwjr41UsCdsL1ldqse+sBxyZYwBM2sqyM9UrrtPJPO9liUmQzmndlGibIDrG8clvodoyNvfSjgji8ix4RKXgs9w/ocKeg/lkgudCqrulvGMQiV2O06Sm48bULTEOSfqbmPzciV5KVjA0RzHs+uXSKq5SK7ulhg8kE42DklMPeY8w06JiCrOHyYk6mfvkL03NKEkg3uyXt8EbRHvQGWhgquRfO7rGQmN4TTPaEEiZYy/v3VS4qexgXt41IxQ/2PkI4lmlPukkD+vM+PVjRbyJo0Zmql28je/VowlBvBZI63QFRt4h+0WjNT68i75WpEbUk5O+G3BPw/u21ejBbPZWeSuTgscGjV5ZtqCQT3P4pHBiiEH50+ut2LY+on3xKMVcn4VueSNqydqro919US3k2f0LlBiOlNLXu0jsa2Nz/L0ltjxkv+LHpc39vO/8HdF4H0j755br8AfG9fbvwj8BxdalcyoAwAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAC3TbUhTURgHcAsJo75ZUtlM7rmndBNSmilk9C8KlwX2ouZbLkVrvq2tsBT94EBJS4ektQoTkRmTNHux8IPJQB0WKirhh+gFJItIxGyhUVGX5/F++nE43Ps//+dcS1pBTFH/e5M/TuC7p3BtgPaM5Qk8OpBF/lQgkF7L6wknBaa9pWRLqkBx4gVySrJAeHQZuf2QwBFzGrnutEDm6FVytuZFVx7ZnylgLc0k5+cKhPQ6V9cVRP68SB4+pWD4eS7ZnaagJ7iE979Q8HiZM8wrAiXFyWSvUWAw1EUeSBJYvz+FHLBXoPEG56+OF7h23UHeoq3bmjl/dazAUOIPcqBLYMFXTA6/JbD07Amfq0eg15FNDvoi0NVmJDdMCVyO4czuboG+xnqyR1uPU/eRo/1bkaCe5x4mwvB1XTX5zYqCkA/p/J4HErOCcza5JSq8vN9UL/FNZ+VOaiRGo+zkP9MqKrfnkI/nqOhPspBbbCpq71eQq8ZVxPpSyZOzYbCvcE5TcCh2/KrhHgYV+NwHeV6FEsmNVziPWWLosJl7tkvMDXCeiDIJQ+1q/mMSNxfukjd16lB2jjsxyjDY7HwHjCEq6qL4u323JaytZ3mO7RIZM6vvd0r425rJ8X8lRPAJPu+yRNWGDM42IjHW1Ml96nbCOveQZ/EqAjNHN3MeZyQcl1r5XOV6TDk3kt9N6GHRVZHLB/T4F8i93THrsVCQT+626+GzFpFHPXoMuXgWLbkGjPg4f9AZA8Y9H/nOD0agY2kN56/UOini/YtaJ449PCOTV8XnPBsZfSp2dfG3Ep6q2P2a/4t5zdte8r8w2SHw9h7fve4sgd+9vD+qQeA/lYczeKgDAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAC2Tb0hTYRjF1YVgf0Aw73K63TcnhCXl0IqoPLMU0yiHlOm0NMky/6xrYSEZbJCYiWPlh1moWChokTMy8kOFYK0hGRVkEWkSmEgkpkVG0Br37H768fC85znPed9bkV9uqhye3KfsFfjRdzosJPBFtssYQJHKgy0yChpZt0zJeDtSo3L3uIyqrFMqL8zIEMl1Ko+sE8gsyVdZvJNh9V1Q+XWAF9xlKiuPZNhqrNTvlCF5nMG6EYm/zqic/MGIZw+Ps8dnxL2oanJ2PAZ/04PLLVBdlauy2SLwNNZNn8syInYfYn2/QGsL/ZvTBZquOlSezhFQ2ujffEBgNGuJc18YMO+t4i6vDFh8cJ9cbYDHUcy9mvTo70plVpN6nDPR86BiwFBrM/P5pMf2hJ0q2/MysSvhJHOYM2Eu3M7csB7SVAF1miV8MdJnyDUJ9SPsF/8kfNPb6C1SC19SLXd8H4OLccd49k4shnMqqFkai8bOevZ8j8FW72FqtptQu0yfYsIM+c9l5rAxHt6edNYvaZHbep6avVqMZpQw5yItZh7TT/dBLTY1Bv0vaXF9/gbZuQ11pcxEcaZCqeUbUMbicCWJcxWfBFvHUWZ1S0LhRFB/VsLPrjaVSzdHwxhl4b4Z0WhYVUhvayS8dPUyz4G1sM3cZd0fgYnsaHqYDYfjbAf32qPBG+dqZj4bigp9A/VNYfCvYG7TPRrMl5+gh2INvLZKatrDMOrmXUzv8Kc999K/2elPG+/7zFmJK3F7MZRnUwKZVLLfHsjEkcI7EvE6fC1TeDZPhw39nGWx6rBljP+F64gOuifW4B0Z8PEm355rSMZfT9DbogH/Acjm0cyoAwAA" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEACXSa0jTURQA8E39oKWGWhiZVDImps1pSQbh/39PBir2kPnIWSsf07b5yHQNa2WabtqLDKVRyEhKBFdigjlDXWSEZIUT2yqFQMiyUFTUGq2H59xPPw6Hc8899xjHHVJ131RSZbmRPTsQ7yH4fxqXI9n35CJ06kIztzJdiH6fbOX08Sp0ZpSKT2innBXOyY2/KkH7uAb4t0coviTS8EMelH8qRcTPTJDNrWNcTCLZFHqTk2eVoXsC4qFylw6d7vZi2hEDWlM0zDuWU9CH27ewCzlqtN4wxfdEFKM9/J28upRqztVJWOCoBn279RYfMk3OkFk4zSDZlGfkrJnn0EOWBj7AJPVcc3eXP7j/7sF4gy0YFFFfKKclEXrlv4Rrbrbmw+zXPIx/DqyArlrqP1fnYtsKlOifUiFsHqM51IjNMD1J+ZKEItjA3UXbLfUQLdmNblcyaOyk3ty1Fq7NSTV75W18mm8pOrZaxWVJT6MjfZKZXy/lxB+UMrmeZhK70M9kNnLwse3guqhFFx8thak/BeiWFRnsX38G7b9aCzUl2dRP0zWoqqQ+Rd5O9jiJ6qRYwlmTkN4SFxYNM+fpr0O0g8xTPY9eTHwA817fcD4jz82w6M7BOJdfCCU7qKY4XAJx1bRLx/tsbDSbZnW9fJUtAPWWK3vHPvlWoD9MKqGuMxdtCNWCo43erjgRBwOKl+h7VwxwX+yNtl26Ax1PP6I7lx7B79cu7CdKlQVP8s9iPMK+D3TDtDMdf63MoshHC+ouM7ub7hIkZbCTV+mu7sA0mJul9+qVYbw1PAj3ZGP/Tvgxbsf6L+RWllNPf7dVtI4336BZVQQdYm/EVWjjsoB36Kjm3ph0xk9QTZHpIecqp5n0zzQwZRP11iwvY5tSaZ+FJj/4B98iJgCoAwAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAEXSf0jTURAAcHUKhUZoGZGKWLAS1MzKHynuvStqWVZSKG45yd9+50xLXdYkk9RcJowZ2QJ/o6Hm0sgUSQoMsUxKiUklUQtLXfkDjBpq5V3Y++vD8bh3d+9KR03+Qve4VMa3QO/+YDubv2fZL4VPH05Fr5wf5hT0vg69RBOcjt4YeoiFN6X+i/uw0QEV2pHXsOHjFO/Q9zDRQBraXePLGpwF9DFLv2TXgfTV/LKYs+jpj2GQ46tGaz3W8tzBEvQpUS8zLUSgpYvALskpT0i0nj3wzkCPlV1jQibl1BbUcZchJTovoZS5mZWrbyn7/rsnOg/t1qhjzlX+ohXXH9kGS7/3YFxtkYLCZwJtrLwOXbJftit2aroAU18TqPeWm2Asovq79VvBMykZ/TxEDJtf0xzGPdvA/J7uz0ZpYL3EgDa4VcJOv93oufjTUNaqXJ1z/RjljMvRsSinTHTW7NPwGH+ap8nDyNd10R1DRgSXaWgmy8N2cPIJ+VZFElgLctHt3loYX05C15pLIcwxi2a74zZcUcWiXylbID+H6hQPuEK7lPIMKsu5zpZ6iQwU4MtF+utQdw8QCTPUr30nzNhP4nxGphtgfkmO8YCDOlB5UU5ulcPey7RLls8OMBRLs8psBJgDqs3S7wzvnM6jgyYr4GrrGXSzbzOY6qn3apsSeKx4ht6Uch/qxGvQlYF34O6jt2hZy0NYfGHFen4WZkNn4jmMK6IzQN1PO1P1qRjaFIm0Dyd0MLJEb9nUlkO8lt4aXqyG71PUb/iCC+vZvgH3JEibC5bREcwfOX+Py4vp70xlcazmBs0qIKCWvxTnox2KvJhJTTmLRF2cvaGcQtqCxJpNM/lQ2MeTdVTbN9kEdz1K+yw0p8Ef4g6LiagDAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAEWSe0jTURTHNQsEzbIwAiF7mCboVEwwi/3uPQ6yEvNRijMWbppuy6XlA/OF4iZKGRZFSJIPEnFplGGNSEtWUlnQZqwy/6iFllmiYeScVp6z5v3rw+Hc7/2e7z21ZkuY6v5Y7HxtEH8QE7XK5d+JL7ewbweykZfPL+sJJ5dFKZHrm0VM3EE98VNGsXkoF7lhQM9eHaZ69G0ZcxvKcdy1Ce3eKkf9khAuUTo1pamnkJtNO6EgpNihaWaFz3TI7/Z2MMvcQWSd0p+VppNOX6SB9QadRB7f381UGtKUB7byDcNqh46E+VrVzrfU/StsSCmiWURS5n01zG2Z2z28YPHPbqynhASDLHgc2ZSsgD7pvOsy/8zIgckvcqpLdHCrmvxvivQHv8ws5Eqf9bD5NeWg2t4G1g/Uv+OGBtYJTcgjBVoIFUWQz0QB6vQr3trekmbKUS1L9NQ4c04Nozw/Gvz42j7qGdW7cGkZZVLUbOfJj4jNMeFgKy9EHnyqg7GlTGS/mUzY55GH7D5RAVW5aciTvnVQUkA+Dy2sgZ5Y0lHbtbzRlWYZeC6CibP0156z49xNNY2cd7kHpld/xXyG5NdgdjGd+lsUkLuNNI/1cIispF0q+mTlw2mUVUDNFpgB8hadv8BHPc8gz1UpoUafQR66tGBpo9njRGJ4KHuCnFRRCK0B7si9oVeg89575ARJF9hf2NCPKk4MdxSn6W7EHig20s5o+o38pkxBmbNsblqkt1xazvHj9fSW19ZS+DFJ80b9NgqGwI24J4PyXTBlNqH+UvUFnq79v29G4fp5yqrpbid/GVCC/Pl7g2ApJs0jCd2cvSHNmNmLgi2fMrFX6HlWI3l7nDfCfeJon4O1AH8Bnq3DN6gDAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAEXSWUiUURQH8LExELLEnELLEKNcUnNyIcnqu/ekMolYoibjlOYyaeOeOoNLi7lREWYZppAyE8mUYrQwaWX4oE6hhSk14vKSYLmkaGRqmdU5Rt/Tj8Pl3HP/3ynvN0lVLSMyQ/UCe37Ib43ozzcd6c0nDyehndVVwvzoqVUvCIV+p9F1A7HsYAOdkfgbhX5jGrrER8TfHqG6+mMTExuT0faFseyOtQrt/9CG7QmgPh2hgSw6KgNtccUNcjw0aG9bCc99XYZOkHcz07dg9P3APlagoD7PItzZY9dUtCqoi6nSqefKijff2JOCDp0KYFtHyY2bJSzl5f966zE1+ppbNrO+JRX/teiCLSyv+GC918sOYtzH0E+UwWCIXjTDe10iYeJzPNbbtmTAg4s0/5xuLTgkKtHfMy3A9h3lsLdcC6PDdH7xRjxYCbXoAnUZeO72pnlcQ+BSY8pqzl2CboB6TksNLMwyfbUeJERJKc8Q5sfXG+iM3m6cRRdSJvqaMR7eTt65Yzssnc1Fex0/ByO/Eik3m0DYvy4T7RJRAkVpcrSnvhzycmhOncc8b5ZRn6+yYl5pRm+RawE+5dO/3vfByMWqGfSGwdswYz6O+WTr62BuWYH12gNZkOZIPSVD9uB7nnZpwLWT98gpq9ReMcwCzTZlbg5Dltno9vo4KGmMQ8fLisGko7f7Vh6FtphOtMajCLROFpRhczXonw6iG5T34Gf3Es6Tb38THiWcwfrdyVLQdNDOnPBp4U0xCWhRuxXvW6a7RKJXLPYy3SUMh8H0BL03uOo6a3W2wT2pnnGAqf4+7F+TNMsVpf/2al6ov0pZKXY58jdOeej8cM5MGuo5EZTD2XvqqUrOZUtZlMkLbTFXVtJsFV8q+KYQ2ueTP7bBb4MFhjOoAwAA" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAEWSf0zMcRjHL7G1ZC3lRwuNWT9MuZaUlb6fz8OsEDWmdVGqu9SdSz/vFof5kXRbI6YljAqzlVQs3Ux+7HRMWjp1J7LRkDT9GFJc0fPU9f3rtWfP9/08z/vzzjeaxPKGrrCxxVp+f33QDNH/z6Pen38L34ssEj0L/dWdjFzr7MM0QanILsG5LPQG9Wzt0wtGgxJ514rdrGUb1T1VGwVbQwryIk2TUOEkt/b7bUid1BeJJNH7qf+9F2T7qJFbxb9ZzvOTyG7mi8z0cxNyVU0nPxhLOussjfyO9z5kv0uBXJ5GmsEZdnxuswI50VPF3LoV1lmKxmnW7VQhR/mfZU4lYtsJrtjsCJbx1Vgv1i2DuJWfkTv1a6BeMmIzwWfMSdDbk4h151Yl3D5G+ycfN3B3qQz5cLg9LHxFPpgDL0D3O+q/qtkBjkIpslamhlW+/sjx3muhoJJ2Sx94HFpuJk3pucssyiHNWo8Wk58xPno2p556lmhamURDnjTfyufbHxG/+TMLRg/lIA8VR0DXmBS5bTwcQmanI/8YLoKjyhhkryeFkJtNe4rMBl4dRjr6lgZWZEO3dES6w5cD9NYdvipuK+9H1gll0D/zK/qz3LUGhiyxWG+XpYFyKWmGZQVAwJGpLFXw5hjySvlQzweBdqvNKuFvHbKQq19nwInKBOSPEimYyun28z3e8CDuKfIeOAVlHnZ0V+o1uHmvk+a63IW/L0ZxH+P1KKhLysS6a6QvqPWUmcLxAl4VlzSZhw+szZIwlXkhXkuzTjeFwPdepdV/nacz5oQLC6DP2Ib68+u0PDZvOldXCsmrzDwJf+mRa/3XpCbNkU/DjLUrrf2jGeTJ4EAKlxXRbgMKdz5vC+XZvrSd/wOB9EKAqAMAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEADXSfyzUcRgHcNKWFmtS1iaKzGlOTrJZM/f5PKdzJGWVX7dOfuv8zo+Lrokuotq0TuunomY1lqYmdkPzI2sdG7KjslVaIctod5VIeR59/3rt2Wfv7/N5Pk/ZkEGkbBmTqRvduE7iu8rs31cSJeNfg5LR1SNSZhpPQodOd/urfY+jR8vPM/86OiPIfyEe6k1Hz1kaWf+B/3Ups+hNQZuZ2bF7Nkp0T6iQeQVQzmPbjSw6IhP9QyeFXA8V+qrYm+e9LEW7uX1iBmMw+phCzk/JKafKcQ1/siMN/Vov5MoMyhwpd+Ib9Kkrtub242TJnDtLbSfHCUzi1vB89MkrOczmmshi2VKVIywu7ca69q4zKISfqZ8OL2iO/mW+7KauwzA1EYf1LkkkNJZQ/5MOa2FrQiL6w8dhvnmA5mAfdBvG39H5+xXJsF58A+3yuwg8d3qj25b8oLyeevN5KmS1I5SZVNnMwqwy0DEZRnGEiOZZZ6nh1s105mKHO49W00wik1r4oefk9/buMH86D71tIAXG/iSgFTfDwG9dFjqgLQ2K06PQw2UaKMilPl0C2/kjGeXY6kzssjndpUnvDV8K6a3V+zq5hXIGvSW7DmZWT+J8jtZUwtyiHOuy0QhId6JMjXYP+BTRLgnsOrk+imYl6v/OZ4F6q44c4m+tctAL1/eCpj4WLf2ZCoZauvsRiQDaFD3oxMxiqHG1RE/wSnjw7A06oe8hLLyax34OXgiDpvgTWF+q2g6q7pWdCSnjDYp42k/mwwcXY1d2tZDFVNC/1Hae8G2K7husrWetAlvckwadM0wPDWL+2V29XH6O3m7/dD67c4lmZTzjwPtcC9Cm2SxmUFFma3EgZ8OUGe7RLZ7PppmUVhTxxMvUm7Ymk28KoX2+5WPkfwFpe/RxqAMAAA==" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAEWSe0jTURTH8xEJGrZMDDR6gJPwkZXVoNrv3pPgkjDEUpw5M1+5NV85H6WZkVqS1hJCorRURLCMLC0RpVIz0QIdMntMakZNM60sMc0enjPX/evD4fC93/M9p0in91U+NMgKowZZ6x6J9ZJ/z3bDMPu0NwE5aLxTOj0Sj7zwciSJyKt2+jBp7f8eXbca+budhr3YT/W7Tt7MpvsoslvOjFAtUpr7/YXN/olmzWdSeVgycr9IBunemeYeHdP0FCK/Fdcx/Y9AZEWwMz8ZQTqXPKeEexuPmf/KYsok0ixeU8VW9qkW/2KuIxYWVO0qi+eW0AzkpVnhTFTua7PALpHTfP6PH9Z5/Huu8PqA/CTVBZrlP60WWCs6DGOmI1iXzkXDnTPkvz7VyNfGxiFP2C+D1f2UQ62xHEbeUL+rxyFwFK6S/+F82OSzFbn1hjucr1dZcq4aIs3QgwUs2CHJklWYL+XpEmlgy5upZ50pmctzKBO3pms85BGxUGMNs7kaZE91DBh+xyKPdgHssk9BLklOgnx1OPIVv1LITiefvKeON8hIJ8NYxrRWNMtQgzt8PEG73l5Rxm2Uk8jT16th0nYU89kxVwnf5iOwnvA4ANTrSTO31w225dEtqS+X8L5wyiq0sYV/BfIW5HCBv3Y4jmxMk8PZ+mjkjlIZ6KtodpPBEdoUXciReafgptgO+dz9i1D34BWy/ult+NU7i34KAhk0xqTRLWlcIbOTbsYUsIXfUsRQtqdb2cB89GLOQlQx/ZW72wsmxmjeA+kdQouHE95Ju24FjOsGUF/S1sQjCmh3KV+4UFlCWS0Tv2TPxdnIkhl/QZ9JmqKiz4wNqi27nk2lTN7VhPA4LXkTTVUw5310z/3aDv4XoWN2RKgDAAA=" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAGu/fN0ga8ddj2wjZcfdzhZMDEBwxO+ow2vPdDAbBL49TgOzrTZOtq+xyISK/7K3W4ZQc/l4Lpjt98bF4Zw/TPyEHfPxDKj4EfvFgllwcUOXTLjeqPB8MDuQ1c6pRLcc4oZzOxxKT7aB2fO6Njlc/+oFc4NDdXQWXO9mzRwwu2uuqENWXiZUTZyD0JlsuL3Sj2FsF/vsfdlwvTvDysDsvE2aDoIzDJhBbMP6X45//5uAxXcsvugYp/MMzFbqN3DaFvWTEcS+ejHL6dWLJLD4sj2JTuubIO7P557jKJ+SCmZbXjzgKHEREg5G96Y5Pb4DUS+jHuPEbz8LzL7VNMVJX88YYk6ej1Pnaojb1Mvc7BfdgJgZFtrqEMiTB3dzuAEkPLVqkxx5t0HU9D4JdYyqgYSJcmS7Y/ABCPvIJHanX7WlYLbQugCnu/9SwOzS7yZONtwFYHaTTLlTY24kmO0hnu9UWQJx571Hsx3XeUDM8cu56DCREeKXAzqsTs+rIHHN7TjBkTnrPZg97dlUp/csL8HhM+fNAqdPf6PB4lU/w51yFSFm3pjJ42RaD0lLPxKmOZ6JhITVH88djh+dIG7bcHmD422eYjB7W1mkU8vqRDD7p2+k0/VFEL8HPmN02ht3FMwWcShwWqjGAWYvuD/BacX2W2C21Os1Tn9O/wK754GdpdOm5CKwuMklSafyI5A0w8Vo5LgmLhmeni/9TYSnz/guiF2XOtWc3r2C+Nfih4v9TnVhcDqZwC7l9ObyJbD5zmf3OEa3wtOb3fxeSFg5MrA6nlWrBLMFdn62v14OMVNp+h8Hh6u58Dj9VQgJE7lrpY6pEyFuC5rM4yjqA0nPSX4vHAHU+1q7qAMAAA==" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEADXSeUgTYBQAcKeFSoqW2GGZFeRBqRO1hol+32uFxbpr6hYrdV7zzNzMVDwwj0GI1R9hSTrp8ijsMC1KQWNFds1kq5RAQfNAK7LMPNL37Pvrx8fjfe+97xV3GYWq5t4Qh+OW8GSnyNxs/kgPFvGRPbFoU2kJ+9Ufgx7tKGbZonh0o8MXFnSDYjR99axLn4QeG/Dhbw7QfUDjb9ZqTvH+flVssJvsrvFkPuL/eXYzWWgK+sPVQEj3zEBvt97C1S+L0OpJW26c2ItOk2ziWXIVeh8T8PseiegGqRNXJVPOSDcrvqIzgWqLtORr+8nfYopZwjPy/lExa5Fq0G0Fc2z5ZaHFgkXqpTAz50fvhtmBYusAumOXNzTJ/ggWDOuUMPw1kuoxxMLdAqpfdLOPuyij0WuEPXz1e5pDq3sN9PdQ/LD9GbALrkC/uKIBby9fmonTDiitS1icVTHTmShnkc0gO2STjO4sE7NQYRz6Y6uU2zZRjNfjOC7LpplsuKDlR9rI8Vl2MJWjRgvaY6F3VomeLTsMgctS0ddDcyE/KRydcrQUMtOpTkm7nt8JoTyNFy15uYB6cdW4wOBZ+uvJ6NvcQjVOfeXoYHzJEM5nJL0SfszI8X7bw2OQtJFyRoQ4g38u7VLhWz3vDKdZ5dvr+Xeg2kxDtfyzzWn0yQoZFNZFoJVZUjDqqHfrAE94qniOrmkugmpXK3RZdSXcevQJ3fegAaZfTWE92hIx3ItKw/vN5isho4N25tL6VF6viELP/wYzzNBbZnk6dkJLb4n/BsHYMPUr8dWwFjcH3BOTsy+Mdhkwv7vWyOXn6O/CDLXs2nma1aS1hL92zUQnOnowYwblVKzy4qybcqriJoKnTtFMpqvyeHT5Ym1lP5mjhPZZnveO/wOdJgNkqAMAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEACWTW0jTcRTHswkre1gZgmYPYT2EQRQRZqHGicwuEiy0CJ1L02ypXayZGt5qzVmzZhFlLROZKdVDILgeKojk0JU9OANjPliJEczsshZk9fWc/9OHw/d3zvdc/jvLw2ts/lBO/SomV+nWuXPwpbuYti85JDx5nmm1db+wHXHOOi0c286UFHNQuOgc0+DtCuEHF5kibn3b1ga9ZY/qW5i+/GwW3uFkcg+VCX9qZXr96LjwN+TvemUXfutmupFaLzztYLqfaBZ+fplp+RatNYWctvxS4W7UrSusFu5Enk7LYeE+5LeaVJ+I+CKvxhdfYDInay/d8HP3aYphloPQOGbWSrz9EtObst/CQ6iV8DASM8vjTUzvgwUSL8B8xtK03zgP08dgo3AHPKf15wo70ct8T7Hw35OoO9MjvA3e+i0bhScQ92WpN8/snDccEQ5CYzZpX5XIuXeiRLgQ/vMzDwgPQEPxqt+MeOu0chh1h6I1wgvBDeutuiPsJbNWfZ66wmQfrhT2Q0PVm4Sr4OHo4ybhF+gx1rBP2IiZJPWVCz85gzuJ/BG+08DUmxCS+VQ0Mv2I1/n0wM+wQ3e9Ejczuk73NQYPg/fUT04Hk9FbJWxoZvp1zaZ9Qe8M6NtJ6JOj+jaAG/BbAsJLsfcUo0k4E3n+Xdc97gLv/uwTP3m4z69xuusF8JY9YhG21TGlf9CZp6KXFpPuyIfei0s0no26fRl6k8sw53CcSfKHsOuRroDkH/Uy3Tqr/0IUt/RuoFa9ofcV0WOaHx7GpzRnzU28fakzf4aduubpHPKgv/r9hHAuOCO9SP8X+PkP8m93CKgDAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEACWTW0jTcRTHvSTipCgr6GEPRgXLhgRlkUQbxPEMSXsQiUoLbWUt3bLMla0sWU1XWRpSadKNwB4sikHmwugiEWXN0IckW4gtc2gZdAfr6zn/pw+H8/ue77n8OxcMLHV0DNoOLWEyBzPjYvCtqmOyWkuER04wWbx24UrE6/p2C0+rZ5p0as5WL9NYolO4/RTTh8gOYb8ffGC75tcwPbpUJpztg/53zflYy9RkKRf+Bv3yzW7hV6eZrlV5hSeOM33akCP89CzTrTyH8BdohqeXCl9F3dDXXcLN0Cn6rD7boB+4rzwP8b+9O4Vnn2S6s/CgvoWfUbs5for7kXPPmiHx+jNMrQ+iwt2o5amJER46yjTj2UbhAsznRa32ZWhgur1PPTTC89tZ24R96OX3UJHwZAXT8p8twgxvxU1aK4J4tFD7aoAHw5hLuB850XSdbRk0q03qvxD+L2ZpPIAc3wXt0Yq4K1V1xlE3KaI9zgSPvduiO8JeUnoqhPefYwp2q04HcgJ3WdgJD5ku7es5elwR1bqJmEnNH+UuD5Opc1z4yhGmZe7R2CkurWZa/GaTxK/Dz+phvR8TbmblsO79PTwYK4uFbY3wnKC3FH+Mqatkj/aF/PBaneEI8nOj+jaEG0hY/1LYiL1nROYKr4FO3M35ssd14Lzey+InH/dpCe2VnGR4WxTUWTmqmJztqpmGXgpY/dxA77E96icLdf3ndQ6pmPM/Q4roD2LXnsN9oj/QymQz60x+4ZbmNOv8jeg9/bXecxo8TDzU23C3MNmTdOaPsdPkJP1H8pH/5IfWygHnhlUzG37+AwNT/mWoAwAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEACWTW0jTcRTHS5NgPhiuBwu7vWTkiGFYGZVBHY+sRREYks1S08o5K9LEKaldnOlcunrZRFNCUaILNWgPGRJmhFEG7qGhEdJM7IbRQ4ZY352zpw+H7/97vuf8zlJ8E+bS4GR2TSrTwMbdMUvwy7jB9GixRHimkSmdC4Uvod6eUC68zMP0ufG08IlrTEcfO4Tvu5l2JBQLNzczHag4pforTLYP54UtLqYmg34baWIyZ54T/gX/7bXVwm9bmQanG4TnrjN1eA8JD7cxrbKWCv+EZ0mLXbgHfUdGte6Hj21c6/3wj/MoJ6G+z6x9jS1Mawad+i3y5L5LjY1yCJq17q1S99xkqp//LvwSveLLFpZGeaqeqbcvT+rHsZ8HT9Tf0M6U8kUzeJF524UiYRdmCRcXCC9WMKX+6xJmZFudli48jbrz5BnhdmS4M6w7CUHTNqs7d8BzKF/z25B/LFfrAWh2vdIMe1EfH1KfH+i7c2WN8AqwP5Kvb4R3MS1UClfeYnr6V3sFoWky7xcuR4aee+r/GjP2ZGrf5dhJQeFZ4ee1uAf7b+Huy0z2kYjsp6yOaaHrmNTvIk9Mnt7DJtxMa6fe1Udk6AvqXWV7mdI+aT22gSlxQvMEoA8d0fuZgd5Rp5ox3IAvcVQ42R29zyThPfDxOdbJO1rBV7d0S54c3OeU66Jo4pHt20PNX+pk+jqgu9qMWUIWzdOL2U0Z+o5Z6LvBqrtdjz0nh43iP4m3jqt+L/7hTqbAvO7nD27JOKf6ZMzuf1Ol/shQ9Ez7VnWg16z+X17gTQ0m3U8O9ClZuvOD4MO3dV4L8vwHkH78I6gDAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAC2Sa0iTcRTGrUmSQgRhFxyUfqgwq9WKCKrJ4uwsSaTFpEyp7OrcXJS5sotZ2XKumSZGF9MwYQSDIKlFYXQxVGhFKUHhPnQj+jC7kBVE9HhO76cfh/M+5znn/wz+jptc0WH7oXlMnkrL+CR8y+uZpnZuF/50iullWalwFepP3HuEk0NMYfMu4c0nmdree4QjQSbj4h3CgQDT5+tbtf840y3/PuE8P5Pt+07hD6eZGtZ4hb9Bv+vaQeHYGSZnoEb4ax1TYKRA+PFZpoVFbuERaBYuKBO+irnr7mr9InRSb5cLh6Ffatb6dNQtmep5SgNT3fpq/Rd+Yo1zDGM8hJ4TBUulHmqEZ0dCuBezsv1/xo3x22NMRaMlUi/GfbJy1UNqE1OyQWc1w3NG+xZhP3Y54t0m/LeSyZXULszw5liyTPgj6vf69CZN8JDRozcZQg8XVgh7oBmcuFu4BP4tK/Xm3egJW3VuLupuk/pJYK7v2QHhyWBXTP1E8C4RR5Xw/nNM8RydFUVPes5q4Qp4aB3Ut+7HjvkXXMIpuMnNFs1Gz2Em74sfwh1HmVL2vpP7uGuY0uzFUu+EH+sKzcNcZGZTh+4Yh4c7Ec2GvZlp5iT1bKhl2tCv+3aj/439fw7RbyzX3Z8jA7b7fcJGvHvw8jThVdBp3Zgl77gWPMF+Rfw4kc+oW7OXBm+1N3SWq5rpwYBqZmOXXtKcd2H32SHd14a5P19plmbhzoHRdNEfxltnzn8q+q/bmMyk9/+FLJ3/ovpG7D4j4VN9eHhk1brvElPLIn27h3hTU0A9ONFPAzorH1xar3fLg59/ujiW4KgDAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAC2TXUiTcRTGZ1PMIowKqWZQNyEFYma1MsKw05FILxIhamrTTLf8SLT14UyL5dSlpUkXU6kIyaKki0UGYaUF9oF0YxfDTVgYXhULi9JqPTun9+rH4fmf85yPd2hZKM0+HMhp2MzUm7N3kQHfzjamp4+PC8+2MO3bWCLsQLy85pRwbCdTYF25cLGLybi2WvjhFabGT/q2vZ3JbShW/SWmB5kO4QNuJnNENTOtTFtba4W/IX+f+ZzwRAeT19MoHL7MZI07JPzqGpPvXqXwV+RMfH5C+Dbq+oPqwYs8My6b8CDy/3FrfDXiP36rfqWHKSvvrL6Fn8HsFGOUJ6FZVZsh8c6rTLE9YeHXqGVJ+RUT5VAz07viYxK3YD5p4TLhJV1M8y31wt3wnB86LOxGL09yte7feqaMuX5hhrf0uR3CnxFP36Xz7IKHLT01wpPQFNrUf1V0Dg6tVQj/3qNVwj5oIqV24SzEv39U/oK6CVPa43Lwi3CR7gh7yY5vED59nWnIpPmHoek2ZAlXw4N1THt5gx6fRbRuPGbii1OfI06mBdu88K0LTHlrgjKfyiYmT51F4nfgZypR36bgZsZcykF4MKVahXO6mUbztRfjRaaXR/73Bb3tvWpmo7dk0b4+4AbanOPCydj79ukk4T3I89a/QfZ4EFzUfFP8FOA++5zay1J4MzdVCNvPM5Uk6Z1sQi+LTXrnA+h94a7W2o+6GSH1sx5zvlGxQvIHsOsE54Tk9/czlU2r/iduaaRD7zkZvfeO12l+eIjZprXO9DKlZuoNj2Kn90/qbRRAb4rRveeCdz8q1f8Ffv4BWcyeb6gDAAA=" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAC2TW0jTcRTHMxfCItHsoYdFix4yfZF8SQJZxNkRc5CUYKBlaWbLlskuuC6zlbqstK3oQYkmIggZEQTtJcXbg12cQ+whXIqphIahRGSk9fWc9vTh8P1/z/f8ztlP/2yWPRLPu5rJtO/1kc2b8Mu5w9R1q0L4ayPTI+tZYTfqkWiNsKGFKVqkmtO3mQZtWn9+j2lqWPXNzUy5J0tV72d698UjnN/ElH/ivPBcgCngvCK8Av+VIbfw6H2mHan1wssNTOU/CoWHHjAdClULf4fnWEwzdKCvt80h3Aaf7OhF4W74x9K1vhP1hGztm3aXqYa1VwfyzK5mJG7wBDT7pw5IvaWV6YVjSXgYvTIrfyds8Ew9U1nxGamX4H2y3lYKG4NMax9rhUPI7DxYLNyEWVY7zgmvO5kKJp8KM7JF5nOE51GvCmi2IDLYfJeFJ6Cxt2v+S/D0hNWnFPlDNrvwK2g6zcoW1I8tKy+h7/G6OuEUcM+2U7oj7KXw2XVh10Omv+uqj0BzuN8i7EAGV63uawQzLvzReZPwJgtzOm/vNaa+hjXh8A2m3Ufj8j7VPsyeViL1TuTp2qWZ03Ez3Qblz8hg7FHPvBDTY7/Om3gTt/Tm/1zQL9rL9Q6h3+OrEh7DDYRSRoVN2Lt1MVU4Fz6V02bZYwHY/zIseYpwn717dddbkW27W/PbvfjWckE4A7MkmfRuuzD7pEHvx4q+3veazYx3NlYki38cu97iiIn/pydM49Pq8wu3ZP+g92zC7I2DLvVHhpkR7etpZxpo1Z0OYKd9yXrDRdB/C+q3NrBlvEz/L8jzD6HykxWoAwAA" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEACWSW0jTcRTHXRaSZZgiZFSYL5kiSU9NyHrodOxPYRkSo+XMZZfhrHRzoZFTUuel1RYVrAyHlCO6YFkIXR6imUEXizTIrIgyIyraQ/hQ0tdz/k8fDt//9/c9l+4fE3mOgfHC+hwm3wuaFYfP3MZkiu4RnmxhssaVCdeinvWsWni2n2nZPdXYjjN5PzqFr3UyZborhNvbmdLuWlTfxJRj1AsbrUwf1u4T/uJjctkOC8fgP5riEX5+gqn3doPw72amVXeKhB+dYvpqrRL+Bc/rw5ohjHdziw8Kh+ATWXlAOAL/6iLVL0K9qEnrqR1Ml+fW6r/Ik/10RfwMj0ATC62Wuv8kU3HblHAUb/UaMdMMf/IyPT5TLnUr5jP4RvtNDDD1JR0SDiLz9yHtvRW9/HNpzmkXEzX3CDOy1SSuEZ5AfalDswWQoTFf5zkCTfibejrhefGWvrUL+cvS9gv3QzP4Tv9dj3pp2CH8E++mtxwRTgYbHaW6I+wlfYNX2H2ayRzTtwagYSNfuAoZ+s7pvp6gx4JKm3ACZmKx6+4eHMU8x/4Kdx9j8oTGZD6VDUzzt1ml3oM85tG9wlm4GSNZ879HBvcFvavCINPCK9pjfCNT4L7m74c+alf9JPSRFOVh3EBC+SvhJdj7DnuScAF85lgyZY+bwTd8YclTgvs0bdc5zEO2s0G7sKOOaWidzi0bvXQt151eQu/GVp3JRrxb7NRsGZhzReoC8R/HrnPzXor/2y6mnVd1JlO4JX+XS7Oh95sZbvVHhsWbNL/nPFPdH73Vh9ip6fNu4RLova9rhLeAO6d1Xwby/AdlgEKjqAMAAA==" />
    <add key="/intelcpu/0/clock/7/values" value="H4sIAAAAAAAEACWTW0jTcRTHZxOKVjQYoZRmvUgYhQSFRYyKnc66waiGZWZhmWtuo7xNnWXOzFpe2nroRlRKEURPSa2gotEetGH6IEIyCSHTh6x8KcWi7875P304nN/3fM/l/909le+OJu2BdUwf53iBAd+Wq0xHTWXCk5eZ7N+KhWsRL31fI5zeydT++qTw8UtMB3/6hJ+1Mx3K1rehENNstFDzg0y34ueF97QxjQRPC3+9wlTdfU54BvrebL/wQAeTtU7zf7UyJfIOCH+4ztRj9gj/gOabDK31EHVLFqnOHehYE2eEn0A/raNCOBPxVy80brnGNOWv07fwsyOWa0zxMHK+TOdLvLOLaax+TjiOWiuKptNSPH6RKcenvRdjPpaV5cKLw0xBV5VwBJ5Hu7T3NvSyNHhK+F8102FPtzDDm8W/VXgC8dwN6i0MD/fn3cLDyHGtV00vNGfLtN9j8F9hUs1e5BiaNX874r+f63ymUbfdUCtsBvcbS3VH2EtDYZNwzQ2mIwGdTxQ5jQH140vdQFxz+tBj6G+R8ELM5OVml/DbRqb08LzwgwtMq3YmZT6eJqZMm95MD/zkuHXXa3EztgH1PJbykKEztEeY3g3p/RibmQqGVL8X+SN79e0k8hPLlAdxAwXBQeEs7H3UYRa2QmfTtjWyx33g24ke8ePEfT516K5N8FY+cULY3cA0flNnnode/Et0Po/Qe8ShM9mFurbd1cKrMee+VrPoJ7Hr+uWfRP/zPaazhbqXP7iljWa94Sz0PhOrVH146I/rnfjvMrVUeYVj2GnLY63rRH7UqbveD86oLNH/BX7+A/NmhNuoAwAA" />
    <add key="/intelcpu/0/clock/8/values" value="H4sIAAAAAAAEACWTW0jTcRTHswnWelgZgmYPYT2EQRQRtkIN43jsIsFCi9C5NM2W2sXS1PBWNmfNmkWUtUxkNakeAsH1UEE0oit7cAbGfLASI5jZxRZk9fWc/9OHw/d3zvdc/tvLI2vs/nBOwyomZynNnYPP7GTauuSA8MRZptW2vcI1iD/PPCkc28mUFLNfuOgM0+DNCuH755mmXfq2owN66y7VtzJ9+dkivM3B5AqUCX9qZ3r98KjwN+TveVUj/NbFdC21QXiqjeleokX42UWm5Vu01iRy2vNLhXtRt76wWrgbebqtB4V9yG8zqT4R8UUejS8+x2RJ1l564efOkxTDLIegaZtZK/HOC0xvyn4LB1Ar4cF0zCyPNTO9DxVIvADzGU3Tfo1upo+hJuEueE7rzxV2oJf57mLhv8dRd6ZPmOGt37pReBxxb6Z6c8/OecMh4RA0FpP2VYmcu8dLhAvhPz9jn/AANFnxqt+MePuUcgR1A9Fa4YXgxvU23RH2klGnPk9cYqoZqhT2Q5NVvUm4Ch4OP2oWfoEeYw17hOMwkyRfufDjU7iT6T/CtxqZbieEZT4VTUw/4nU+ffAz1Ka7XombGVmn+xqFh8G76ieniynOUyVsaGH6dcWufUHvCOrbCeiTo/o2iBvwW4PCS7H3lDiTcAby/Luqe9wB3vnZK37ycJ9fjbrrBfCWPWwVttczmT/ozFPRS6tJd+RF78UlGs9GXV+63uQyzDliNEn+MHY93BOU/CMephun9V+I4pbeDdSpN/S+InpE88PD2KTmrL2Oty915k+xU+c8nUMe9Je/HxPOBaebi/R/gZ//DbOrFqgDAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAPPOeGeQteOuBwMQWPj57WKAAgBhsMd1GAAAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAPPOeGeQteOuBwMQWPj57WKAAgBhsMd1GAAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAPPOeGeQteOuBwMQWPj57WKAAgBhsMd1GAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAPPOeGeQteOuBwMQWPj57WKAAgBhsMd1GAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>